<!DOCTYPE html>
<html>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link
    rel="stylesheet"
    href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <body>
    <div class="container">
      <div class="row col-md-offset-3 col-md-6" style="margin-top: 50px;">
        <%if(msg!=""){%>
        <div id="message" class="alert alert-success">
          <p class="text-center"><strong>Success!</strong><%=msg%></p>
        </div>
        <%}%>
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="title">SignUp Form</div>
          </div>
          <div class="panel-body">
            <form
              id="signupForm"
              class="form-horizontal"
              action="/signup"
              method="POST"
              role="form"
            >
              <div class="form-group">
                <label for="username" class="control-label col-md-3"
                  >UserName</label
                >
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    name="uname"
                    placeholder="Enter Username"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="Name" class="control-label col-md-3"
                  >Full Name</label
                >
                <div class="col-xs-9">
                  <input
                    required
                    type="text"
                    name="fname"
                    class="form-control"
                    placeholder="Enter Full Name"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="control-label col-md-3">Email</label>
                <div class="col-xs-9">
                  <input
                    required
                    type="text"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="control-label col-md-3"
                  >Password</label
                >
                <div class="col-md-9">
                  <input
                    required
                    type="password"
                    placeholder="Enter password"
                    class="form-control"
                    name="pass"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="cpassword" class="control-label col-md-3"
                  >Confirm Password</label
                >
                <div class="col-md-9">
                  <input
                    required
                    type="password"
                    placeholder="Enter password"
                    class="form-control"
                    name="cpass"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                  <input type="submit" value="SignUp" class="btn btn-primary" />
                </div>
              </div>
              <p class="text-right">
                Already have an account?-<u><a href="/">Login Here</a></u>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      $("#message").fadeOut(1500);
    </script>
  </body>
</html>
